body {
  font: 100%/1.5 Poppins;
}

.site-header,
.site-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60px;
}

.site-header {
  background: #fcdb00;
  font-size: 2rem;
  font-family: PoppinsBold;
}

.site-footer {
  background: #000000;
  color: #ffffff;
  font-size: 0.75rem;
}

.cart-total {
  background: red;
  line-height: 0px;
  display: block;
  font-size: 2em;
  position: fixed;
  bottom: 0;
  padding: 0 2em;
  width: 100%;
  text-align: right;
  color: #ffffff;
  transition: all 0.5s ease-in;
  visibility: hidden;
}

.cart-total.cart-fixed-bar {
  line-height: 100px;
  visibility: visible;
}

@media screen and (min-width: 768px) {
  .site-header {
    justify-content: space-between;
    padding: 0 2em;
  }

  .site-footer {
    justify-content: flex-start;
    padding: 0 4em;
  }
}
