.product {
  border: 1px solid #dadada;
  box-shadow: 1px 1px 1px gray;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0.5em;
  margin: 0.5em;
}

.product__offer {
  font-size: 2em;
}

.product__image {
  text-align: center;
}

.product__image img {
  max-height: 160px;
}

.product__title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  text-align: center;
}

.product__quantity {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product__quantity input,
.product__quantity button {
  text-align: center;
  font-size: 1em;
  height: 40px;
  width: 40px;
}

.product__quantity input {
  margin: 0 1em;
}

.product__quantity button {
  background: #dadada;
}

.product__button {
  border: 2px solid;
  background: #bc2026;
  color: #ffffff;
  margin: 0.5em 0;
  line-height: 40px;
  font-weight: bold;
  font-size: 0.8rem;
  flex-grow: 1;
  width: 100%;
  text-align: center;
  text-decoration: none;
}

.products__list .without-results {
  text-align: center;
  font-size: 1em;
  padding: 2em;
  margin: auto;
}

.products__list .without-results strong {
  font-weight: bold;
  color: crimson;
}

.products__filters .filter-by-category {
  display: none;
}

.products__filters .filter-by-name {
    background: #dadada url(https://dc9srmlltmw04.cloudfront.net/2.1.104/css/images/ico-search.svg) no-repeat;
    background-size: 9%;
    background-position: center left 5px;
    width: 100%;
    border: none;
    height: 40px;
    padding: 0 10px 0 40px;
    font-size: 1rem;
}

@media screen and (min-width:768px) {
  .products__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    padding: 2em;
  }

  .product {
    width: 31%;
  }

  .products__filters {
    display: flex;
    padding: 2em 2em 0;
    align-items: center;
    justify-content: space-between;
  }

  .products__filters .filter-by-category {
    display: initial;
    height: 40px;
    background: #dadada;
    font-size: 1rem;
  }

  .products__filters .filter-by-name {
    width: 300px;
  }

  .products__list .without-results {
    padding: 5em;
  }
}

@media screen and (min-width:998px) {
  .product {
    width: 18%;
  }
}
