.product {
  border: 1px solid #dadada;
  box-shadow: 1px 1px 1px gray;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0.5em;
  margin: 0.5em;
}

.product__offer {
  font-size: 2em;
}

.product__image {
  text-align: center;
}

.product__image img {
  max-width: 80%;
}

.product__quantity {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product__quantity input,
.product__quantity button {
  text-align: center;
  font-size: 1em;
  height: 40px;
  width: 40px;
}

.product__quantity input {
  margin: 0 1em;
}

.product__quantity button {
  background: #dadada;
}

.product__button {
  border: 2px solid;
  background: #bc2026;
  color: #ffffff;
  margin: 0.5em 0;
  line-height: 40px;
  font-weight: bold;
  font-size: 0.8rem;
  flex-grow: 1;
  width: 100%;
  text-align: center;
  text-decoration: none;
}

@media screen and (min-width:768px) {
  .products {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    padding: 2em;
  }

  .product {
    width: 31%;
  }
}

@media screen and (min-width:998px) {
  .product {
    width: 18%;
  }
}
