/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* box sizing */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* fonts */
@font-face {
    font-family: PoppinsBold;
    src: url(../fonts/d355faf685ef6346cfe92fa4deb9bfb2.woff2) format("woff2"), url(../fonts/45a9e0686a92eb54fd4f9b7cf34cbff0.woff) format("woff");
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: PoppinsLight;
    src: url(../fonts/9411c9836e5a14d2b53defff0b1f0771.woff2) format("woff2"), url(../fonts/374e2fc1ee56b4c219e07fbd387e50af.woff) format("woff");
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: PoppinsMedium;
    src: url(../fonts/7033814a13474b9e74beea49d0ae144b.woff2) format("woff2"), url(../fonts/411ed25dacb34660633d6eeb98dedc43.woff) format("woff");
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: Poppins;
    src: url(../fonts/b670aea5ef85584176dcfb6e614d6df5.woff2) format("woff2"), url(../fonts/2c2bb5e874c2aeeb64695058df8ce90a.woff) format("woff");
    font-weight: 400;
    font-style: normal
}
